


/* General Settings */
body{
    background-color: #4e555b !important;
}
header {
    text-align: center;
    background-color: #6c757d;
}
header img {
    max-height: 300px;
}
header h1, button {
    margin: auto;
}
h1, h2, h3 {
    font-family: 'Libre Baskerville', serif;
}
p {
    font-family: 'Varela Round', sans-serif;
}
article {
    text-align: center;
}

/* My own classes */


.login {
    font-size: 0.8em;
}
#social-media-box {
    width: 70% !important;
    margin: auto !important;
}


.room {
    padding: 7px;
    border: 1px solid #f2f2f2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.room > h2 {
    font-size: 1.2em;
}
.room > img {
    width: 20%;
    height: 20%;
    float: left;
    margin-right: 3%;
}
.price-tag {
    width: 10%;
    height: 10%;
    background-color: #ff0000;
    padding: 5px;
    color: white;
    border-radius: 3px;
}
.img-icon {
    width: 30px;
    height: 30px;
    display: inline-block;
}
/* PopUp Window for login & Register forms */
.article:hover {
    border: solid #4db8ff;
    transition: width 2s;
}
.img-text {
    padding: 5px 10px 30px 10px;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
a:after[target="_blank"] {
    background: url("../img/new-tab.png");
    width: 30px;
    height: 30px;
}

.outlink:after {
    content: "  (New tab will be opened)";
    font-size: 0.7em;
}

.social-media {
    font-family: 'Indie Flower', cursive !important;
}

.social-media {
    width: 200px;
    height: 250px;
}

.socialmediafont {
    font-family: "Sans-serif", Courier, monospace;
}

.img-social-media:hover {
    border: solid #3399ff;
}



/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

img {
    margin-bottom: -4px;
}

.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.roomTitle {
    text-transform: capitalize;
}

.profile-card {
    text-align: center;
}

.profile-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.confirm-icon {
    display: none;
}