


/* General Settings */
body{
    background-color: #4e555b !important;
    text-align: center;
}
header {
    text-align: center;
    background-color: #6c757d;
    min-height: 450px;
}
header h1, button {
    margin: auto;
}
h1, h2, h3 {
    font-family: 'Libre Baskerville', serif;
}
p {
    font-family: 'Varela Round', sans-serif;
}
article {
    text-align: center;
}

/* My own classes */


.login {
    font-size: 0.8em;
}
#social-media-box {
    width: 70% !important;
    margin: auto !important;
}


.room {
    padding: 7px;
    border: 1px solid #f2f2f2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.room > h2 {
    font-size: 1.2em;
}
.room > img {
    width: 20%;
    height: 20%;
    float: left;
    margin-right: 3%;
}
.price-tag {
    width: 10%;
    height: 10%;
    background-color: #ff0000;
    padding: 5px;
    color: white;
    border-radius: 3px;
}
.img-icon {
    width: 50px;
    height: 50px;
    display: inline-block;
}
/* PopUp Window for login & Register forms */

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #06D85F;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
}
#register-form, #login-form {
    text-align: center;
}
.social-media {
    font-family: 'Indie Flower', cursive !important;
}
